<div class="container">
  <!-- POST DATA -->
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h3>Post Data</h3>
      <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!postForm.valid"
        >
          Send Post
        </button>
      </form>
    </div>
  </div>
  <br><br>
  <hr>
  <br>
  <!-- EDIT DATA -->
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <h3>Edit Data</h3>
      <form #editForm="ngForm" (ngSubmit)="onUpdatePost(editForm.value)">
        <div class="form-group">
          <label for="id">ID</label>
          <input
            type="text"
            class="form-control"
            id="id"
            required
            ngModel
            name="id"
          />
        </div>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            ngModel
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea
            class="form-control"
            id="content"
            required
            ngModel
            name="content"
          ></textarea>
        </div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!editForm.valid"
        >
          Edit
        </button>
      </form>
    </div>
  </div>
  <br>
  <hr>
  <br>
  <!-- FETCH BUTTON -->
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <button class="btn btn-primary" (click)="onFetchPosts()">
        Fetch Posts
      </button>
      |
      <button
        class="btn btn-danger"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()"
      >
        Clear Posts
      </button>
    </div>
  </div>
  <!-- SHOW DATA -->
  <div class="row">
    <div class="alert alert-danger" role="alert" *ngIf="error">
      <h3>Error Occur!</h3>
      <p>{{error}}</p>
    </div>
    <div class="spinner-border" style="width:3rem; height: 3rem;" role="status" *ngIf="showLoading  && !error">
    </div>
    <span class="sr-only" *ngIf="showLoading && !error"> Loading ...</span>
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1">No post available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1">
        <li class="list-group-item" *ngFor="let post of loadedPosts" (click)="onEditForm(post)">
          <h3>{{post.title}}</h3>
          <p>{{post.content}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
